{
  "semi": true,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [
        "*.css",
        "*.test.js"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}